<!DOCTYPE html> 
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <title>pelisalacarta</title> 
    <link rel="stylesheet" href="/media/css/pelisalacarta.css" />
    <script type="text/javascript" src="/media/js/vars.js"></script>
    <script type="text/javascript" src="/media/js/ui.js"></script>
    <script type="text/javascript" src="/media/js/navigation.js"></script>
    <script type="text/javascript" src="/media/js/popups.js"></script>
    <script type="text/javascript" src="/media/js/protocol.js"></script>
    <script type="text/javascript" src="/media/js/socket.js"></script>
    <script type="text/javascript" src="/media/js/utils.js"></script>
    <script type="text/javascript" src="/media/js/main.js"></script>
    <script type="text/javascript">websocket_host = 'ws://' + window.location.hostname + ':{$WSPORT}'</script>
  </head> 
  <body> 
      <!--/ProgressBG -->	
    <div id="ProgressBarBG-popup" class="ProgressBarBG">
      <div Class="ProgressTitulo" id="ProgressBarBG-Titulo">
      </div>
      <div Class="ProgressTexto" id="ProgressBarBG-Text">
      </div>
      <div Class="Progress" id="ProgressBar-BarBG">
        <div Class="ProgressBarFondo" id="ProgressBar-BarFondo">
          <div Class="ProgressBarContenido" id="ProgressBarBG-Abance">
          </div>
        </div>
      </div> 
    </div>

    <div class="Fondo-popup" id="Overlay"> </div>
    <div class="Loading" id="Loading"><a href="javascript:void(0)" id="Loading"></a><span class="Loading"></span><h1 id="Loading-Text">Cargando...</h1></div>
    
    <!-- Lista -->
    <div id="Lista-popup" class="Lista">
      <a href="javascript:void(0)" onmouseover="this.focus()" onclick="send_data({'id':this.parentNode.RequestID, 'result':-1 });dialog.closeall();" class="BotonCerrar"></a>
      <div class="Titulo" id="Lista-titulo">Menu
      </div>
      <div class="ListaContenido">
        <ul class="Lista" tabindex="0" id="Lista">
        </ul>
      </div>
    </div>
    <!-- Player -->
    <div id="Player-popup" class="Player">
      <a href="javascript:void(0)" onmouseover="this.focus()" onclick="dialog.closeall();this.parentNode.children[2].innerHTML=''" class="BotonCerrar"></a>
      <div class="Titulo" id="Player-titulo">
      </div>
      <div id="Player" class="Player-Player">
      </div>
    </div>
    
    <!-- Alert -->
    <div id="Alert-popup" class="Alert">
      <a href="javascript:void(0)" onmouseover="this.focus()" onclick="send_data({'id':this.parentNode.RequestID, 'result':true });dialog.closeall();" class="BotonCerrar"></a>
      <div class="Titulo" id="Alert-Titulo">
      </div>
      <div Class="AlertTexto" id="Alert-Text">
      </div>
      <div class="Botones">
        <a href="javascript:void(0)" class="Boton BotonIcon BotonOK" onmouseover="this.focus()" onclick="send_data({'id':this.parentNode.parentNode.RequestID, 'result':true });dialog.closeall();" >Aceptar</a>
      </div>
    </div>

    <!-- AlertYesNo -->
    <div id="AlertYesNo-popup" class="Alert">
      <a href="javascript:void(0)" onmouseover="this.focus()" onclick="send_data({'id':this.parentNode.RequestID, 'result':false });dialog.closeall();" class="BotonCerrar"></a>
      <div class="Titulo" id="AlertYesNo-Titulo">
      </div>
      <div Class="AlertTexto" id="AlertYesNo-Text">
      </div>
      <div class="Botones">
        <a href="javascript:void(0)" class="Boton BotonIcon BotonOK" onmouseover="this.focus()" onclick="send_data({'id':this.parentNode.parentNode.RequestID, 'result':true });dialog.closeall();" >Si</a>
        <a href="javascript:void(0)" class="Boton BotonIcon BotonClose" onmouseover="this.focus()" onclick="send_data({'id':this.parentNode.parentNode.RequestID, 'result':false });dialog.closeall();" >No</a>
      </div>
    </div> 
    <!-- Keyboard -->
    <div id="Keyboard-popup" class="Keyboard">
      <a href="javascript:void(0)" onmouseover="this.focus()" onclick="send_data({'id':this.parentNode.RequestID, 'result':null });dialog.closeall();" class="BotonCerrar"></a>
      <div class="Titulo" id="Keyboard-Titulo">
      </div>
      <div Class="KeyboardTexto">
      <div class="Text"><input class="Text" type="text" onkeypress="if(event.keyCode == 13){send_data({'id':this.parentNode.parentNode.parentNode.RequestID, 'result':this.value });dialog.closeall();loading.show();}" id="Keyboard-Text" ></div>
      </div>
      <div class="Botones">
        <a href="javascript:void(0)" class="Boton BotonIcon BotonOK" onmouseover="this.focus()" onclick="send_data({'id':this.parentNode.parentNode.RequestID, 'result':document.getElementById('Keyboard-Text').value });dialog.closeall();loading.show();" >Aceptar</a>
        <a href="javascript:void(0)" class="Boton BotonIcon BotonClose" onmouseover="this.focus()" onclick="send_data({'id':this.parentNode.parentNode.RequestID, 'result':null });dialog.closeall();" >Cancelar</a>
      </div>
    </div>  

    <!--/Progress -->	
    <div id="ProgressBar-popup" class="ProgressBar">
      <a href="javascript:void(0)" onmouseover="this.focus()" onclick="this.parentNode.children[1].checked='checked';document.getElementById('ProgressBar-Titulo').innerHTML += ' Cancelando...';" class="BotonCerrar"></a>
      <div class="Titulo" id="ProgressBar-Titulo">
      </div>
    <div Class="ProgressTexto" id="ProgressBar-Text">
    </div>
    <div Class="Progress" id="ProgressBar-Bar">
      <div Class="ProgressBarFondo" id="ProgressBar-BarFondo">
        <div Class="ProgressBarContenido" id="ProgressBar-Abance">
        </div>
      </div>
    </div>
        <div class="Botones">
        <a href="javascript:void(0)" class="Boton BotonIcon BotonClose" onmouseover="this.focus()" onclick="this.parentNode.children[1].checked='checked';document.getElementById('ProgressBar-Titulo').innerHTML += ' Cancelando...';" >Cancelar</a>
        <input type="checkbox" style="display:none" id="ProgressBar-Cancelled">
      </div>
    </div> 
    <!--/Config -->	
    <div id="Config-popup" class="Config">
      <a href="javascript:void(0)" onmouseover="this.focus()" onclick="GuardarConfig({'id':this.parentNode.RequestID, 'result':false });dialog.closeall();" class="BotonCerrar"></a>
      <div class="Titulo" id="Config-Titulo">
      </div>
      <div class="Config-Secciones" id="Config-secciones">
      </div>
      <div id="Config" class="Config-Opciones">
        <ul id="Config">
        </ul>
      </div>
      <div id="Config-botones" class="Botones">
        <a href="javascript:void(0)" class="Boton BotonIcon BotonOK" onmouseover="this.focus()" onclick="dialog.closeall();GuardarConfig(true);" >Guardar</a>
        <a href="javascript:void(0)" class="Boton BotonIcon BotonClose" onmouseover="this.focus()" onclick="dialog.closeall();GuardarConfig(false);" >Cerrar</a>
        <a href="javascript:void(0)" class="Boton" onmouseover="this.focus()" onclick="custom_button();" id="custom_button" ></a>
      </div>
    </div > 
    <!--/Info -->	
    <div id="Info-popup" class="Video_Info">
      <a href="javascript:void(0)" onmouseover="this.focus()" onclick="dialog.closeall();InfoWindow('close')" class="BotonCerrar"></a>
      <div class="Titulo" id="Info-Titulo">
      </div>
      <div id="Info" class="Info-Fondo">
        <img class="Info-Background" id="Info-Background">
        <img class="Info-Image" id="Info-Image">
        <span class="Info-Linea1_head" id="Info-Head1"></span><span class="Info-Linea1" id="Info-Line1"></span>
        <span class="Info-Linea2_head" id="Info-Head2"></span><span class="Info-Linea2" id="Info-Line2"></span>
        <span class="Info-Linea3_head" id="Info-Head3"></span><span class="Info-Linea3" id="Info-Line3"></span>
        <span class="Info-Linea4_head" id="Info-Head4"></span><span class="Info-Linea4" id="Info-Line4"></span>
        <span class="Info-Linea5_head" id="Info-Head5"></span><span class="Info-Linea5" id="Info-Line5"></span>
        <span class="Info-Linea6_head" id="Info-Head6"></span><span class="Info-Linea6" id="Info-Line6"></span>
        <span class="Info-Linea7_head" id="Info-Head7"></span><span class="Info-Linea7" id="Info-Line7"></span>
        <span class="Info-Linea8_head" id="Info-Head8"></span><span class="Info-Linea8" id="Info-Line8"></span>
        <span class="Info-Paginas" id="Info-Numero"></span>

      </div>
      <div id="Info-Botones" class="Botones">
        <a href="javascript:void(0)" id="Info-BotonAnterior" class="Boton" onmouseover="this.focus()" onclick="InfoWindow('previous')" >Anterior</a>
        <a href="javascript:void(0)" id="Info-BotonSiguiente" class="Boton" onmouseover="this.focus()" onclick="InfoWindow('next')" >Siguiente</a>
        <a href="javascript:void(0)" class="Boton BotonIcon BotonClose" onmouseover="this.focus()" onclick="dialog.closeall();InfoWindow('close')" >Cancelar</a>
        <a href="javascript:void(0)" class="Boton BotonIcon BotonOK" onmouseover="this.focus()" onclick="dialog.closeall();InfoWindow('ok')" >Aceptar</a>
        
      </div>
    </div >  
 
    <div class="Pagina" id="Pagina">
    
      <div class="Cabeza" id="Header">
        <img src="/media/css/images/logo.png">
        <h1 id="titulo" class="Title">pelisalacarta</h1>
      </div>

      <div class="Contenido" id="Contenido" >      
          <div class="Fila">
            <div class="Info">
              <div class="InfoDiv" id="InfoDiv" >
                <img id="Info-Img" src="" >
                <h3 id="Info-Title"></h3>
                <div id="Info-Plot"></div>
              </div>
              <div class="InfoDivVersion" id="InfoVersion" >
                <span class="Version" id="Version"></span><br/>
                <span class="Version" id="Date"></span>
              </div>
            </div>
            <div class="Items"  id="Contenedor">
              <ul class="ListItem" id="itemlist">
              </ul>
            </div>
          </div>
        </div>

      <div id="Pie" class="Pie">
        <table style="height:10px; width:100%">
          <tr>
            <td style=" text-align:center">
              <a href="http://blog.tvalacarta.info/plugin-xbmc/pelisalacarta">Saber más sobre Pelisalacarta</a> | <a href="http://www.mimediacenter.info/foro">Foro</a>
            </td>
            <td id="Conexion" style="width:150px;text-align:right">
              Desconectado
            </td>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>
