<li class="ListItem">
  <div class="ListItem">
    <h3 class="Ajuste">
      <span style='color:%item_color'>%item_label</span>
    </h3>
    <span class="Control">
      <div class="Check">
        <input class="Check" onchange="evaluate_controls(this)" onfocus="this.parentNode.parentNode.parentNode.className='ListItem ListItem-hover'" onblur="this.parentNode.parentNode.parentNode.className='ListItem'" type="checkbox" id="%item_id" %item_value>
      </div>
    </span>
  </div>
</li>