<li class="ListItem" onmousemove="this.getElementsByTagName('input')[0].focus()">
  <div class="ListItem">
    <h3 class="Ajuste">
      <span style='color:%item_color'>%item_label</span>
    </h3>
    <span class="Control">
      <div class="Text">
        <input class="Text" onchange="evaluate_controls(this)" onkeyup="evaluate_controls(this)" onfocus="this.parentNode.parentNode.parentNode.className='ListItem ListItem-hover'" onblur="this.parentNode.parentNode.parentNode.className='ListItem'" type="%item_type" id="%item_id" value="%item_value">
      </div>
    </span>
  </div>
</li>
