<li class="ListItem">
  <div class="ListItem">
    <h3 class="Ajuste">
      <span style='color:%item_color'>%item_label</span>
    </h3>
    <span class="Control">
      <div class="Select">
        <select class="Select" onchange="evaluate_controls(this)" name="%item_type" onfocus="this.parentNode.parentNode.parentNode.className='ListItem ListItem-hover'" onblur="this.parentNode.parentNode.parentNode.className='ListItem'" id="%item_id">%item_values</select>
      </div>
    </span>
  </div>
</li>